<h1>New Posts</h1>

<form class="" action="\post/new" method="post">
	<label for="title">Title</label>
	<input type="text" name="title"  placeholder="Title here">

	<label for="body">Body</label>
	<textarea name="body" rows="8" cols="40"></textarea>

	<input type="submit" value="Create Post">
</form>
