<h1>Delete User</h1>
<form action="/delete" method="post">
	<input name="username" placeholder="Username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Delete User">
</form>
