<form action="\register" method="post">
	<span>
		<label for="">Name</label>
		<input type="text" name="first_name" placeholder="First">
		<input type="text" name="last_name" placeholder="Last">
	</span>
	<span>
		<label for="username">Choose your username</label>
		<input type="text" placeholder="username" name="username" required>
	</span>
	<span>
		<label for="password">Create a password</label>
		<input type="password" placeholder="Password" name="password" required>
	</span>
	<span>
		<label for="confrim_password">Confrim your Password</label>
		<input type="password" placeholder="Confirm Password" name="password_confirm" required>
	</span>
	<span>
		<label for="email">Your current email address</label>
		<input type="email" placeholder="email@example.com" name="email" required>
	</span>
	<input type="submit" value="Register">
</form>
